asgiref==3.11.0
Django==5.2.10
djangorestframework==3.16.1
gunicorn==23.0.0
packaging==25.0
python-dotenv==1.2.1
sqlparse==0.5.5
google-genai==1.59.0
pydantic==2.12.5
pydantic-core==2.41.5
tenacity
grpcio==1.68.1
apscheduler
django-apscheduler
requests
apscheduler
django
django-apscheduler
djangorestframework
google-genai
grpcio
gunicorn
pydantic
python-dotenv
requests
tenacity
